<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsy.warehouse_manager2.mapper.BrandMapper">
<!--    
    //查询所有品牌
public List<Brand> findAllList();
-->
    <select id="findAllList" resultType="brand">
        select * from brand
    </select>
</mapper>
  

